.checkout {
  &__contents {
    @include mq(1080px) {
      display: grid;
      grid-template-columns: 1fr 408px;
      gap: rem(15px);
    }
  }
  &__column-one {
    @include mq(1080px) {
      grid-column: 1/2;
    }
  }
  &__column-two {
    margin-top: rem(15px);
    @include mq(1080px) {
      grid-column: 2/-1;
      margin-top: 0;
    }
  }
  &__form {
    margin: 0 0 rem(20px);
    background-color: #fff;
    padding: rem(15px);
    border-radius: rem(4px);
  }
  &__form-row {
    @include mq(650px) {
      display: flex;
      align-items: center;
      gap: rem(8px);
    }
  }
  &__form-input-group {
    margin-bottom: rem(15px);
    position: relative;
    flex: 1;
    @include mq(medium) {
      margin-bottom: rem(10px);
    }
  }
  &__form-label {
    font-size: rem(16px);
    font-weight: 500;
    color: #002c36;
  }
  &__form-input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    -moz-appearance: textfield;

    font-size: rem(14px);
    font-weight: 500;
    line-height: 1.4;
    color: #002c36;
    width: 100%;
    margin-top: rem(5px);
    padding: rem(8px);
    border: 1px solid #c7c7c7;
    border-radius: rem(3px);
    &:focus {
      outline: none;
    }
  }
  &__form-select {
    color: #002c36;
    width: 100%;
    margin-top: rem(5px);
    padding: rem(8px);
    border: 1px solid #c7c7c7;
    border-radius: rem(3px);
  }
  &__orders {
  }
  &__orders-heading {
    padding: rem(15px);
    font-size: rem(16px);
    border-top-left-radius: rem(4px);
    border-top-right-radius: rem(4px);
    color: #fff;
    text-transform: uppercase;
    background-color: #00dc82;
  }
  &__orders-contents {
    padding: rem(5px) rem(15px);
  }
  &__orders-id {
    font-size: rem(16px);
    font-weight: 500;
    color: #002c36;
    margin-bottom: rem(10px);
  }
  &__orders-item,
  &__orders-detail-types {
    display: flex;
    align-items: center;
    gap: rem(10px);
  }
  &__orders-list-image {
    padding: rem(6px);
    width: rem(60px);
    height: rem(60px);
    border: 1px solid #eee;
    border-radius: rem(6px);
  }
  &__orders-list {
    background-color: #fff;
    padding: rem(10px) rem(15px);
    border-bottom-left-radius: rem(4px);
    border-bottom-right-radius: rem(4px);
    &:nth-child(2n + 1) {
      border-top-left-radius: rem(4px);
      border-top-right-radius: rem(4px);
      margin-top: rem(10px);
    }
  }
  &__orders-detail-heaing {
    font-size: rem(16px);
    color: #fff;
    font-weight: 500;
    color: #002c36;
    margin-bottom: rem(8px);
  }
  &__orders-detail-text {
    font-size: rem(14px);
    color: #fff;
    font-weight: 500;
    padding: rem(5px) rem(8px);
    background-color: #00dc82;
    border-radius: rem(6px);
  }
  &__orders-charge {
    display: flex;
    gap: rem(3px);
    @include mq(801px) {
      align-items: center;
      justify-content: center;
      gap: rem(6px);
    }
  }
  &__orders-costs-icon {
    width: rem(16px);
  }
  &__column-two-wrapper {
    position: sticky;
    top: rem(70px);
    background-color: #fff;
    padding: rem(15px);
    border-radius: rem(6px);
  }
  &__order-summery {
    border: 1px solid #eee;
  }
  &__order-summery-heading {
    border-bottom: 1px solid #eee;
  }
  &__order-summery-heading,
  &__order-coupon-heading {
    font-size: rem(16px);
    font-weight: 500;
    color: #002c36;
    text-align: center;
    padding: rem(8px) 0;
    background-color: #dcdcea;
  }
  &__order-coupon {
    margin: rem(15px) 0;
    color: #dcdcea;
  }
  &__order-coupon-form {
    padding: rem(20px);
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
  }
  &__coupon-input {
    font-size: rem(14px);
    font-weight: 500;
    color: #002c36;
    width: 100%;
    padding: rem(8px);
    border: 1px solid #00dc82;
    border-right: none;
    &:focus {
      outline: none;
    }
  }
  &__coupon-button {
    height: rem(35px);
    border: none;
    font-size: rem(14px);
    font-weight: 500;
    padding: 0 rem(20px);
    color: #fff;
    background-color: #00dc82;
    cursor: pointer;
  }
  &__order-terms {
    margin: rem(35px) 0 rem(15px);
    display: flex;
    align-items: flex-start;
    gap: rem(10px);
  }
  &__order-terms-text {
    color: #002c36;
    font-size: rem(14px);
    font-weight: 500;
    a {
      color: #00dc82;
    }
  }
  &__order-button {
    font-size: rem(16px);
    font-weight: 500;
    width: 100%;
    padding: rem(10px) 0;
    border-radius: rem(6px);
    cursor: pointer;
    color: #fff;
    background-color: #00dc82;
    border: 1px solid #eee;
  }
}
