.error-page {
  height: 100vh;
  display: grid;
  place-items: center;
  @include mq(medium) {
    width: 100%;
  }
  &__image {
    max-width: 100%;
    @include mq(medium) {
      max-width: 550px;
    }
  }
  &__heading {
    font-size: rem(20px);
    font-weight: 700;
    color: #d72a4e;
    text-align: center;
    text-transform: capitalize;
    margin-top: rem(20px);
    @include mq(medium) {
      font-size: rem(30px);
      margin-top: rem(25px);
    }
  }
  &__subheading {
    font-size: rem(15px);
    font-weight: 600;
    margin: rem(10px) 0 rem(15px);
    text-transform: uppercase;
    color: #002c36;
    text-align: center;
  }
  &__link {
    font-size: rem(14px);
    font-weight: 600;
    color: #002c36;
    padding: rem(10px) rem(15px);
    background-color: #fff;
    border: 1px solid #d72a4e;
    border-radius: rem(5px);
    display: table;
    margin: 0 auto;
    text-transform: capitalize;
    &:hover {
      color: #002c36;
    }
  }
}
