.products {
  &__contents {
    background-color: #fff;
    padding: rem(20px) rem(12px) rem(10px);
    margin-bottom: rem(15px);
    @include mq(801px) {
      padding: rem(15px) rem(15px) rem(10px);
    }
  }
  &__top-wrapper {
    margin-bottom: rem(15px);
    @include mq(680px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(10px);
    }
    @include mq(801px) {
      display: block;
    }
    @include mq(medium-small) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20px);
    }
  }
  &__bottom-wrapper {
    border-top: 1px solid #eee;
    padding-top: rem(15px);
  }

  &__heading {
    font-size: rem(25px);
    font-weight: 600;
    color: #002c36;
    text-transform: capitalize;
    margin-bottom: rem(10px);
    &--secondery {
      max-width: 100% !important;
      margin-bottom: 0;
      text-align: center;
    }
  }
  &__subheading {
    font-size: rem(14px);
    font-weight: 600;
    text-transform: uppercase;
    color: #002c36;
    &--span {
      color: #00dc82;
    }
  }
  &__top-right {
    margin-top: rem(15px);
    @include mq(680px) {
      margin-top: 0;
    }
    @include mq(801px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: rem(15px);
      margin-top: rem(15px);
    }
    @include mq(medium-small) {
      margin-top: 0;
    }
    @include mq(extra-large) {
      flex-direction: row;
    }
  }
  &__dropdown {
    border: 1px solid #00dc82;
    position: relative;
    cursor: pointer;
    border-radius: rem(4px);
    width: 100%;
    @include mq(578px) {
      width: rem(170px);
    }
    @include mq(801px) {
      display: table;
      margin: 0 auto;
      width: rem(170px);
    }
  }
  &__dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(5px);
    padding: rem(8px) rem(12px);
    @include mq(801px) {
      padding: rem(6px) rem(12px);
    }
  }
  &__dropdown-body {
    position: absolute;
    left: 50%;
    z-index: 9;
    width: 100%;
    background-color: #fff;
    margin-top: rem(3px);
    box-shadow: 0 2px 7px rgba(90, 97, 105, 0.36);
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  &__dropdown-icon {
    max-width: rem(18px);
    transition: all 0.3s ease-in;
    &--open {
      transition: all 0.2s ease-out;
      transform: rotate(90deg);
    }
  }
  &__dropdown-heading,
  &__dropdown-item {
    font-weight: 500;
    color: #002c36;
    text-transform: capitalize;
  }
  &__dropdown-heading {
    font-size: rem(13px);
  }
  &__dropdown-item {
    font-size: rem(15px);
    padding: rem(10px);
    font-weight: 500;
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
    &--selected {
      background-color: #eee;
    }
    &:hover,
    &:focus {
      background-color: #eee;
    }
  }
  &__price-form {
    display: flex;
    align-items: center;
    gap: rem(15px);
    padding: rem(15px) 0;
    @include mq(578px) {
      justify-content: left;
    }
    @include mq(801px) {
      padding: 0;
      justify-content: center;
    }
  }
  &__price-input {
    max-width: rem(100px);
    -moz-appearance: textfield;
    font-size: rem(13px);
    font-weight: 500;
    color: #002c36;
    text-align: center;
    padding: rem(6px) rem(12px);
    border: 1px solid #00dc82;
    border-radius: rem(4px);
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: rem(15px);
      font-weight: 500;
      color: #002c36;
    }
  }
  &__button {
    font-size: rem(15px);
    font-weight: 500;
    background-color: #002c36;
    color: #fff;
    height: 100%;
    padding: rem(6px) rem(12px);
    border: none;
    border-radius: rem(4px);
    text-transform: capitalize;
    cursor: pointer;
  }
  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    padding: rem(20px) rem(12px);
    @include mq(801px) {
      grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
      padding: rem(15px);
    }
  }
  &__search-wrapper {
    display: flex;
    align-items: center;
    gap: rem(20px);
    margin-bottom: rem(15px);
    overflow: hidden;
  }
  &__search-main {
    padding: rem(6px) rem(20px);
    border-radius: rem(20px);
    border: 1px solid #00dc82;
    cursor: pointer;
    flex-shrink: initial !important;
    width: max-content !important;
    text-align: center;
  }
  &__search {
    color: #002c36;
    font-size: rem(14px);
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
    margin: rem(15px) 0 0;
    padding: rem(15px) 0;
  }
  &__page-next-item,
  &__page-prev-item {
    width: rem(38px);
    height: rem(38px);
    border-radius: rem(6px);
    background-color: #fff;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
  &__page-next,
  &__page-prev {
    width: rem(25px);
    height: rem(25px);
    color: #002c36;
  }
  &__page-item {
    width: rem(38px);
    height: rem(38px);
    border-radius: rem(6px);
    background-color: #fff;
    cursor: pointer;
  }
  &__page-active {
    background-color: #00dc82;
    border-radius: rem(6px);
    box-shadow: 0 rem(6px) rem(12px) rgba(0, 0, 0, 0.1);
    p {
      color: #fff;
      &:hover {
        color: #fff !important;
      }
    }
  }
  &__page-link {
    font-size: rem(18px);
    font-weight: 500;
    color: #002c36;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    &:hover {
      color: #002c36;
    }
  }
  &__page-disabled-icon {
    color: #eee;
  }
  &__page-dot-link {
    font-size: rem(24px);
    font-weight: 500;
    color: #002c36;
  }
  &__card-empty-wrapper {
    padding: 10px 0;
  }
  &__card-empty-image-wrapper {
    position: relative;
    height: 0;
    padding-top: 35.25%;
    max-width: calc(100% - 45%);
    margin: 0 auto;
  }
  &__card-empty-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: translateX(-50%) scale(0.5);
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: translateX(-50%) scale(0.5);
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
