.footer {
  grid-area: 3 / 2 / 3 / 13;
  margin: rem(25px) 0 rem(62px);
  border-top: 3px solid #d72a4e;
  background-color: #fff;
  padding: rem(25px) rem(15px) rem(30px);
  @include mq(801px) {
    margin: rem(35px) 0 0;
  }
  .container {
    max-width: 100%;
    @include mq(801px) {
      max-width: calc(100% - 30px);
    }
  }
  &__top-row {
    display: grid;
    grid-template-areas:
      "localtion localtion"
      "customer information"
      "mobile-app mobile-app";
    gap: rem(30px);
    @include mq(medium-small) {
      display: grid;
      grid-template-areas: "localtion customer information mobile-app";
    }
  }
  &__details-wrapper {
    margin-top: rem(20px);
  }
  &__details-top {
    display: flex;
    align-items: center;
    gap: rem(3px);
  }
  &__details-icon {
    max-width: rem(16px);
  }
  &__details-heading {
    font-size: rem(14px);
    font-weight: 700;
    text-transform: uppercase;
    color: #002c36;
  }
  &__details-text {
    font-size: rem(14px);
    font-weight: 600;
    color: #002c36;
    margin-top: rem(10px);
    &:hover {
      color: #002c36;
    }
  }
  &__first-col {
    grid-area: localtion;
  }
  &__image-wrapper {
    width: rem(180px);
    @include mq(801px) {
      width: rem(215px);
    }
  }
  &__image {
    width: 100%;
  }
  &__fourth-col {
    grid-area: mobile-app;
    @include mq(medium-small) {
      flex: 2;
    }
  }
  &__heading {
    margin-bottom: rem(15px);
    font-size: rem(17px);
    text-transform: uppercase;
    font-weight: 700;
    color: #002c36;
  }
  &__link-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
  }
  &__link {
    font-size: rem(14px);
    font-weight: 500;
    color: #002c36;
    &:hover {
      color: #002c36;
    }
  }
  &__apps-image-wrapper {
    margin-bottom: rem(10px);
    max-width: rem(127px);
  }
  &__apps-image {
    display: block;
    width: 100%;
  }
  &__social-links {
    display: flex;
    align-items: center;
    gap: rem(5px);
  }
  &__social-image {
    width: rem(26px);
  }
  &__associate-wrapper {
    margin: rem(30px) 0 rem(20px);
  }
  &__associate {
    display: block;
  }
  &__associate-image {
    display: table;
    max-width: 100%;
    margin: 0 auto;
    height: rem(25px);
    @include mq(medium-small) {
      height: inherit;
    }
  }
  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5px);
    @include mq(801px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
  &__copyright-heading {
    font-size: rem(14px);
    font-weight: 700;
    text-transform: uppercase;
    color: #002c36;
  }
  &__copyright-text {
    font-size: rem(14px);
    font-weight: 600;
    color: #002c36;
  }
  &__copyright-link {
    display: block;
    margin-right: rem(5px);
  }
  &__copyright-image {
    display: block;
    object-fit: cover;
    max-width: rem(30px);
  }
}
