.hot-deals {
  margin: rem(15px) 0;
  &__heading {
    font-size: rem(25px);
    font-weight: 600;
    color: #002c36;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: rem(10px);
    @include mq(801px) {
      left: 0;
    }
  }
  &__main {
    position: relative;
    padding-top: rem(65px);
    @include mq(801px) {
      padding-top: rem(30px);
    }
  }
  &__wrapper {
    @include mq(651px) {
      display: flex;
      align-items: center;
    }
  }
  &__items {
    width: 100%;
  }
  &__banner-wrapper {
    width: rem(300px);
    height: rem(350px);
    @include mq(medium-large) {
      height: rem(300px);
      width: rem(250px);
    }
  }
  &__banner {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &__count-time {
    position: absolute;
    display: inline-flex;
    top: 0;
    right: rem(10px);
    @include mq(801px) {
      right: 0;
    }
  }
  &__count-time-wrapper {
    display: grid;
    place-items: center;
    background-color: #00dc82;
    width: rem(40px);
    height: rem(35px);
    @include mq(486px) {
      width: rem(65px);
      height: rem(45px);
    }
    &:not(:last-child) {
      border-right: 1px solid #eee;
    }
    &:first-child {
      border-top-left-radius: rem(6px);
      border-bottom-left-radius: rem(6px);
    }
    &:last-child {
      border-top-right-radius: rem(6px);
      border-bottom-right-radius: rem(6px);
    }
  }
  &__count-number {
    font-size: rem(15px);
    font-weight: 600;
    color: #fff;
  }
  &__count-label {
    font-size: rem(13px);
    color: #fff;
    text-transform: capitalize;
  }
  &__cards {
    display: flex;
  }
  &__card {
    max-width: rem(180px);
    position: relative;
    cursor: pointer;
    box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: rem(10px);
    margin-bottom: rem(20px);
    @include mq(medium) {
      max-width: rem(200px);
    }
  }
  &__card-image-wrapper {
    display: block;
    position: relative;
    padding-bottom: 110%;
    height: 0;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.05);
      filter: grayscale(100%) contrast(1);
      mix-blend-mode: multiply;
      z-index: 9;
      border-radius: rem(10px);
    }
  }
  &__card-image {
    display: block;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: rem(10px);
    object-fit: fill;
  }
  &__offer-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #00dc82;
  }
  &__offer-wrapper {
    bottom: 0;
    padding: rem(8px) 0 rem(8px) rem(10px);
    clip-path: polygon(75% 0, 65% 50%, 75% 100%, 0px 100%, 0px 0px);
    border-bottom-left-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    @include mq(801px) {
      clip-path: polygon(65% 0, 60% 50%, 65% 100%, 0px 100%, 0px 0px);
      // clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }
  }
  &__offer {
    color: #fff;
    font-size: rem(15px);
    font-weight: 500;
  }
  &__offer {
    font-weight: 600;
  }
}
