.mobile-nab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // box-shadow: 6px -10px 5px 0px rgba(207, 199, 199, 0.25);
  // -webkit-box-shadow: 6px -10px 5px 0px rgba(207, 199, 199, 0.25);
  // -moz-box-shadow: 6px -10px 5px 0px rgba(207, 199, 199, 0.25);
  z-index: 999;
  overflow-x: auto;
  background-color: #00dc82;
  &__wrapper {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    padding: rem(8px) 0 rem(12px);
    gap: rem(25px);
    justify-content: space-between;
    @include mq(365px) {
      overflow-x: hidden;
    }
  }
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(3px);
    width: rem(50px);
    @include mq(365px) {
      cursor: pointer;
      width: rem(80px);
      flex: 1;
    }
  }
  &__image-wrapper {
    flex: 1;
    @include mq(375px) {
      flex: 0;
    }
  }
  &__item-image {
    box-shadow: 0 rem(16px) rem(48px) rgba(0, 0, 0, 0.175) !important;
    background: #fff;
    border-radius: rem(10px);
    height: 100%;
    width: rem(40px);
    display: table;
    margin: 0 auto;
    object-fit: contain;
    @include mq(380px) {
      height: rem(45px);
      width: rem(45px);
    }
  }
  &__icon {
    width: rem(20px);
    height: rem(20px);
    fill: #fff;
    stroke: #fff;
    @include mq(520px) {
      width: rem(25px);
      height: rem(25px);
    }
  }
  &__text {
    font-size: rem(12px);
    color: #fff;
    @include mq(520px) {
      font-size: rem(14px);
    }
  }
}
