.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  place-items: center;
  background-color: rgba(#0a192f, 0.85);
  &__wrapper {
    width: calc(100% - 20px);
    border-radius: rem(6px);
    @include mq(801px) {
      width: rem(740px);
    }
    @include mq(double-extra-large) {
      width: rem(1270px);
    }
  }
  &__container {
    text-align: center;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  &__video {
    position: absolute;
    inset: 0;
    height: 100% !important;
    width: 100% !important;
    iframe {
      border-radius: rem(6px);
    }
  }
}
