.top-category {
  padding: rem(15px) rem(15px);
  background-color: #ffff;
  &__heading {
    font-size: rem(25px);
    font-weight: 600;
    color: #002c36;
  }
  &__content {
    display: flex;
    margin: rem(25px) 0 rem(20px);
    position: relative;
    overflow: hidden;
    &:hover {
      .top-category__icon {
        display: block;
      }
    }
  }
  &__wrapper {
    margin-top: rem(10px);
    display: inline-flex;
    width: 100%;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10px);
    width: rem(156px) !important;
    max-width: 100%;
    height: 100%;
    padding: rem(20px) rem(16px);
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-right: 0px;
    @include mq(medium) {
      width: rem(165px) !important;
    }
  }
  &__icon {
    display: none;
    @include mq(medium) {
      transition: all 0.5s ease;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      background-color: #d72a4e;
      color: #fff;
      border-radius: rem(10px);
      cursor: pointer;
      left: rem(15px);
      box-shadow: 0 2px 7px rgba(90, 97, 105, 0.36);
      &--right {
        left: auto;
        right: rem(15px);
      }
    }
  }
  &__image {
    width: rem(26px);
  }
  &__name {
    font-size: rem(13px);
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
}
